body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.header {
    background-color: #007bff;
    color: #fff;
    text-align: center;
    padding: 50px 0;
}

.header h1 {
    font-size: 36px;
    margin-bottom: 10px;
}

.header p {
    font-size: 18px;
    margin-bottom: 20px;
}

.container {
    max-width: 1500px;
    margin: 0 auto;
    padding: 0 20px;
}

.content {
    background-image: url('background.jpg'); /* Replace 'background.jpg' with your image file */
    background-size: cover;
    background-position: center;
    padding: 50px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: justify;
}

.content h2 {
    color: #090101;
}

.content p {
    color: #851f1f;
    line-height: 1.6;
}

pre {
    background-color: rgba(255, 255, 255, 0.7);
    padding: 10px;
    overflow-x: auto;
}

a {
    color: #240dbe;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.footer {
    background-color: #007bff;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

